﻿@model CategoryCreateViewModel

 
<form enctype="multipart/form-data" class="form-group" method="post" asp-controller="Categories" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>


    <label asp-for="Name" class="sr-only">Name</label>
    <input asp-for="Name" class="form-control" placeholder="Name" asp-validation-for="Name">
    <div class="custom-file">
        <input asp-for="Img" type="file" class="form-control custom-file-input">
        <label asp-for="Img" class="custom-file-label">Choose file</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var filename = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(filename);
        });
    });
</script>
