﻿@model EditCategoryViewModel



<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" class="form-group" method="post" asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ExistImgPath" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />

            </div>
            <div class="custom-file">
                <input asp-for="Img" type="file" class="form-control custom-file-input">
                <label asp-for="Img" class="custom-file-label">Click here to change img</label>
            </div>
            <div class="form-group row col-sm-4 offset-4" >
                <img src="/CategoryImg/@Model.ExistImgPath" class="img-thumbnail"  asp-append-version="true"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-controller="Categories" asp-action="Index" >Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().sp("\\").pop();
                $(this).next('custom-file-label').html(filename);
            });
        }
</script>


