﻿@model PagedList.Core.IPagedList<Category>;

<a asp-action="Create" class="m-5">Create Category</a>

<div class="row mt-5 mb-2">
    @{
        foreach (Category category in Model)
        {
            <div class="col-lg-4">
                <img class="card-img" src="/CategoryImg/@category.ImgPath" alt="@category.Name" />
                <p>Category:@category.Name </p>

                <a class="btn btn-warning" asp-action="CategoryProducts" asp-route-id="@category.Id">View Products</a>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@category.Id">Remove</a>
            </div>
        }
    }
    
</div>
<div class="row pagination">
    <pager list="@Model" asp-controller="Categories" asp-action="Index" />
</div>

