﻿@inject SignInManager<User> signInManager;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />

</head>
<body>

  
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" asp-action="Index" asp-controller="Products">Products </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Categories">Categories </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Roles">Roles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Users">Users </a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item ">
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>

                            </form>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login </a>
                        </li>
                    }

                </ul>

            </div>
        </nav>
    </header>

    <div class="container mt-4 row">
        @RenderBody()
    </div>
  

</body>
</html>
