﻿
@inject SignInManager<User> signInManager;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/LoginForm.css" rel="stylesheet" type="text/css" />
    <link href="/css/Style.css" rel="stylesheet" type="text/css" />
</head>

<body class="w3-content" style="max-width:1200px">

    @{await Html.RenderPartialAsync("_Sidebar");}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <div class="w3-right">
                <div class="nav-item">
                    @if (signInManager.IsSignedIn(User))
                    {

                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout @User.Identity.Name
                            </button>
                        </form>

                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Register" class="w3-bar-item w3-button">Register</a>
                        <a asp-controller="Account" asp-action="Login" class="w3-bar-item w3-button">Login</a>
                    }
                </div>
            </div>


        </header>

        <!-- Image header -->
        <div class="w3-display-container w3-container">
            <img src="/img/Comfort.png" alt="Jeans" style="width:100%">
            <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
                <h1 class="w3-jumbo w3-hide-small">Led Lights</h1>
                <h1 class="w3-hide-large w3-hide-medium">Led Lights</h1>
                <h1 class="w3-hide-small">Always the best prices</h1>
                <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
            </div>
        </div>



        <!-- Product grid -->
        <div class="container">
            @RenderBody()
        </div>

        <!-- Subscribe section -->
        @{await Html.RenderPartialAsync("_SUbscribe");}

        <!-- Footer -->
        @{await Html.RenderPartialAsync("_Footer");}



        <!-- End page content -->
    </div>

    <!-- Newsletter Modal -->
    <div id="newsletter" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
            <div class="w3-container w3-white w3-center">
                <i onclick="document.getElementById('newsletter').style.display='none'"
                   class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
                <h2 class="w3-wide">NEWSLETTER</h2>
                <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
                <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
                <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom"
                        onclick="document.getElementById('newsletter').style.display='none'">
                    Subscribe
                </button>
            </div>
        </div>
    </div>

    <script>

        // Click on the "Jeans" link on page load to open the accordion for demo purposes
        document.getElementById("myBtn").click();


        // Open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }


    </script>

</body>
</html>