﻿@model LoginViewModel;
@{
    Layout = "_LayoutSite";
}

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
<div id="id01" class="modal">

    <form class="modal-content animate" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <img src="Img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label asp-for="UserName"><b>Username</b></label>
            <input asp-for="UserName" placeholder="Enter Username" asp-validation-for="UserName" required>

            <label asp-for="Password"><b>Password</b></label>
            <input asp-for="Password" placeholder="Enter Password" asp-validation-for="Password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" asp-for="RememberMe"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>