﻿@model ProductCreateViewModel



    <form enctype="multipart/form-data" class="form-group" method="post" asp-controller="Products" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <h1 class="h3 mb-3 font-weight-normal">Create New Product</h1>
        

        <label asp-for="Name" class="sr-only">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name" asp-validation-for="Name">

        <label asp-for="ShortDesc" class="sr-only">ShortDesc</label>
        <input asp-for="ShortDesc" class="form-control" placeholder="ShortDesc" asp-validation-for="ShortDesc">

        <label asp-for="LongDesc" class="sr-only">LongDesc</label>
        <input asp-for="LongDesc" class="form-control" placeholder="LongDesc" asp-validation-for="LongDesc">

        <label asp-for="Code" class="sr-only">Code</label>
        <input asp-for="Code" class="form-control" placeholder="Code" asp-validation-for="Code">

        <label asp-for="Price" class="sr-only">Price</label>
        <input asp-for="Price" type="number" class="form-control" placeholder="Price" asp-validation-for="Price">

        <label asp-for="Discount" class="sr-only">Discount-%</label>
        <input asp-for="Discount" type="number" class="form-control" placeholder="Discount" asp-validation-for="Discount">

        <label asp-for="Count" class="sr-only">Count</label>
        <input asp-for="Count" type="number" class="form-control" placeholder="Count" asp-validation-for="Count">

        <label class="sr-only">Category</label>
        <select asp-for="CategoryId" class="custom-select">
            @foreach (Category item in Model.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <div class="custom-file">
            <input asp-for="Img" type="file" class="form-control custom-file-input">
            <label asp-for="Img" class="custom-file-label">Choose file</label>
        </div>

        <div class="checkbox mb-3">
            <label asp-for="IsFavorite" class="custom-checkbox">
                <input type="checkbox" asp-for="IsFavorite"> Is in Favorite?
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        <script>
            $(document).ready(function () {
                $(".custom-file-input").on("change", function () {
                    var filename = $(this).val().split("\\").pop();
                    $(this).next(".custom-file-label").html(filename);
                });
            });
        </script>
    </form>

