﻿@model EditProductViewModel

<form enctype="multipart/form-data" class="form-group" method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ExistImgPath" />

    <label asp-for="Name" class="sr-only">
    </label><input asp-for="Name" class="form-control" placeholder="Name" asp-validation-for="Name" />

    <label asp-for="Code" class="sr-only"></label>
    <input asp-for="Code" class="form-control" placeholder="Code" asp-validation-for="Code" />

    <label asp-for="Price" class="sr-only"></label>
    <input asp-for="Price" class="form-control" placeholder="Price" asp-validation-for="Price" />

    <label asp-for="Count" class="sr-only"></label>
    <input asp-for="Count" class="form-control" placeholder="Count" asp-validation-for="Count" />

    <label asp-for="IsFavorite" class="custom-checkbox"></label>
    <input asp-for="IsFavorite" class="form-control" asp-validation-for="IsFavorite" />

    <label asp-for="ShortDesc" class="sr-only"></label>
    <input asp-for="ShortDesc" class="form-control" placeholder="ShortDesc" asp-validation-for="ShortDesc" />

    <label asp-for="LongDesc" class="sr-only"></label>
    <input asp-for="LongDesc" class="form-control" placeholder="LongDesc" asp-validation-for="LongDesc" />

    <label asp-for="Discount" class="sr-only">Discount-%</label>
    <input asp-for="Discount" type="number" class="form-control" placeholder="Discount" asp-validation-for="Discount">

    <p>
        Category:
        <label class="sr-only">Category</label>
        <select asp-for="CategoryId" class="custom-select">
            @foreach (Category item in Model.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </p>

    <div class="custom-file">
        <input asp-for="Img" type="file" class="form-control custom-file-input">
        <label asp-for="Img" class="custom-file-label">Click here to change img</label>
    </div>

    <div class="form-group row col-sm-4 offset-4">
        <img src="/ProductsImg/@Model.ExistImgPath" class="img-thumbnail" asp-append-version="true" />
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a asp-controller="Categories" asp-action="Index">Cancel</a>
    </div>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var filename = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(filename);
        });
    });
</script>

