﻿@model PagedList.Core.IPagedList<Product>;

<a class="btn btn-warning" asp-action="Create">Create new Product</a>

<div class="row ">
    @{
        foreach (Product product in Model)
        {
            <div class="col-lg-3">
                <div class=" row-cols-4">
                    <img class="img-thumbnail" src="/ProductsImg/@product.ImgPath" alt="@product.Name" />
                </div>
                <div class="row-cols-4">
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-warning" asp-action="Remove" asp-route-id="@product.Id">Delete</a>
                    <a class="btn btn-info" asp-action="Remove" asp-route-id="@product.Id">Details</a>
                </div>
            </div>
        }
    }

</div>
<div class="row pagination">

    <pager list="@Model" asp-controller="Products" asp-action="Index" />
</div>

