﻿@model PagedList.Core.IPagedList<Category>;
@{
    Layout = "_LayoutSite";
}
<div class="w3-container w3-text-grey" id="jeans">
    <p>@Model.Count</p>
</div>
<div class="w3-row w3-grayscale">
    @foreach (var category in Model)
    {
        <div class="w3-col l3 s6">
            <div class="w3-container">
                <img src="/CategoryImg/@category.ImgPath" style="width:100%">
                <b>
                    <a asp-controller="Home" asp-action="Products" asp-route-Id="@category.Id"
                       class="btn-link">@category.Name</a>
                </b>
                <a></a>
            </div>
        </div>
    }

</div>
<div class="row pagination">
    <pager list="@Model" asp-controller="Home" asp-action="Categories" />
</div>