﻿@model Product;
@{
    Layout = "_LayoutSite";
}
<div class="col-2 row-cols-2">
    <div class="card">
        <img src="/ProductsImg/@Model.ImgPath" alt="Product Image" style="width:100%">
        <h1>@Model.Name</h1>
        <p class="price">@Model.Price.ToString("c")</p>
        <p><i>@Model.ShortDesc</i></p>
        <p>@Model.LongDesc</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>
