﻿@model PagedList.Core.IPagedList<Product>;

@{
    Layout = "_LayoutSite";
}


    <form method="get" asp-controller="Home" asp-action="Search" class="form-inline">
        <div class="form-group">
            <input type="text" name="keyword" value="@ViewBag.keyword" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" />
        </div>
    </form>


@if (Model.Count != 0)
{
    <div class="w3-row w3-grayscale">
        @foreach (var product in Model)
        {
            <div class="w3-col l3 s6">
                <div class="w3-container">
                    <img src="/ProductsImg/@product.ImgPath" style="width:100%">
                    <p><b>Name:</b> @product.Name<br></p>
                    <p><b>Code:</b>@product.Code<br></p>
                    <p><b>Price:</b>@product.Price<br></p>
                    <p>
                        <b>
                            <a asp-controller="Home" asp-action="ProductDetails" asp-route-Id="@product.Id"
                               class="btn-link">Details</a>
                        </b>
                    </p>
                </div>
            </div>
        }
    </div>
    <div class="row pagination">
        <pager list="@Model" asp-controller="Home" asp-action="Search"
               asp-route-Keyword="@ViewBag.keyword" />
    </div>
}
else
{
    <h2><i> Not found</i></h2>
}
