﻿@model LoginViewModel;
@{
    Layout = "_LayoutSite";
}

<div  class="container">

    <form class="container" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="container-fluid">
            <img src="~/img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label asp-for="UserName"><b>Username</b></label>
            <input asp-for="UserName" placeholder="Enter Username" asp-validation-for="UserName" required>

            <label asp-for="Password"><b>Password</b></label>
            <input asp-for="Password" placeholder="Enter Password" asp-validation-for="Password" required>

            <button type="submit">Login</button>
            <label class="checkbox mb-3">
                <input  asp-for="RememberMe"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
        </div>
    </form>
</div>