﻿@model RegisterViewModel;
@{
    Layout = "_LayoutSite";
}
<div class="container">
   
    <form class="form-signin" method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container-fluid">
            <img src="~/img/img_avatar2.png" alt="Avatar" class="imageThumbnail">
        </div>
        <label asp-for="PhoneNumber">PhoneNumber</label>
        <input asp-for="PhoneNumber" placeholder="PhoneNumber" asp-validation-for="PhoneNumber">

        <label asp-for="Email">Email address</label>
        <input asp-for="Email" placeholder="Email address" asp-validation-for="Email">

        <label asp-for="UserName">User name</label>
        <input asp-for="UserName" placeholder="User Name" asp-validation-for="UserName">

        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" placeholder="Password" asp-validation-for="Password">

        <label asp-for="PasswordConfirm">PasswordConfirm</label>
        <input asp-for="PasswordConfirm" type="password" placeholder="PasswordConfirm" asp-validation-for="PasswordConfirm">

        <div class="checkbox mb-3">
            <label>
                <input asp-for="IsAdulthood"> I am already 18
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
    </form>
</div>